<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
     <img src="../../assets/logo_small_icon_only.png" height="50" width="50">

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active" >
          <a routerLink="client"  href="#" id="Client" class="nav-link active">Client</a></li>

        <li  class="nav-item" routerLinkActive="active">
          <a  routerLink="employe"   id="profil" href="" class="nav-link active"> Employée</a></li>

        <li  class="nav-item" routerLinkActive="active">
          <a  routerLink="externe"   id="" href="" class="nav-link active">Entreprise Externe</a></li>

        <li  class="nav-item" routerLinkActive="active">
          <a  routerLink=""   id="" href="" class="nav-link active">Déconnexion</a></li>




      </ul>
    </div>
  </div>
</nav>



